@charset "utf-8";
/* CSS Document */

/* Resets */
ul {
    padding:0;
    margin:0 0 20px 0;
    list-style:none;
}
h1, h2 {
    padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
}
p {
    padding:0;
    margin:0 0 20px 0;
}
a:link, a:visited {
    text-decoration:underline;
    color:#000;
}
a:hover {
    text-decoration:none;
}
ul li {
    padding:5px 0;
}
ul li input[type="text"], ul li input[type="password"] {
    width:200px;
}
/* Headers */
h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.4em;
}
.logo {
    font:2em Arial;
    margin:0 0 10px 0;
    padding:0;
    /* width:100px;
     height:100px; */
    color:#fff;
}
/* Containers */
body {
    background:lightslategray;
    font-family:Arial;
    font-size:0.8em;
}
#container, footer {
    background:#fff;
    width:920px;
    margin:0 auto;
    padding:20px;
}
header {
    width:940px;
    padding:10px;
    margin:0 auto 10px auto;
}
#container {
    min-height:500px;
    border-radius:5px 5px 0 0;
}
footer {
    border-radius:0 0 5px 5px;
}
.widget {
    margin-bottom:20px;
}
.widget h2 {
    margin:0 0 10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;
}
.widget .inner {
    margin:0 10px;
}
/* Navigation */
nav {
    float:left;
}
nav ul {
    margin:0;
}
nav ul li {
    display:inline;
    margin-right:10px;
}
nav ul li a {
    text-decoration:none;
}
nav ul li.current {
    font-weight:bold;
}
nav ul li a.last {
    border-right:0;
}
/* Aside */
aside {
    width:260px;
    float:right;
    border-left:1px dashed #aaa;
    padding-left:15px;
}
/* Login */
#login li.link {
    margin-top:5px;
}
/* Footer */
footer {
    border-top:1px dashed #ddd;
    color:#999;
}
/* Misc */
.clear {
    clear:both;
}/* CSS Document */
.required {
    color: red;
}
.editbox, .save
{
display:none;
}
td
{
    padding: 5px;
    padding-right: 20px;
}
.editbox
{
font-size:14px;
background-color:#ffffcc;
border:solid 1px #000;
padding:4px;
}
.edit_tr:hover
{
background:url(../img/edit.png) right no-repeat #80C8E5;
cursor:pointer;
}
table {
    width:600px;
}

div.form-error {
    padding: 6px 12px;
    line-height: 180%;
    background: #ffe5ed;
    border-radius: 4px;
    margin-bottom: 22px;
    color: darkred;
    width: 60%;
}

input.valid {
    background: url(../img/icon-ok.png) no-repeat right center #e3ffe5;
    color: #002f00;
    border-color: #96b796 !important;
}
input.error {
    background: url(../img/icon-fail.png) no-repeat right center #ffebef;
    color: #480000;
}
    ul#menu, ul.sub-menu {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#menu li {
    display: block;
    position: relative;
    width: 190px;
    float: left;
    padding: 0;
    border-bottom: 4px solid #d65c5c;
}
li ul.sub-menu {
    display: none;
    padding-top: 4px;
}
ul#menu li a {
    display: block;
    text-decoration: none;
    color: #929292;
    /*color: #000;*/
    border-top: 1px solid #ffffff;
    padding: 7px 15px 7px 15px;
    background: #f2f2f2;
    margin-right: 1px;
    white-space: nowrap;
    border:none;
    text-align: center;
}
ul#menu li a:hover {
    background: #d84141;
    color: #fff;
    border: none;
}
li.top-menu:hover ul.sub-menu {
    display: block;
    position: absolute;
    border: none;
}
li.top-menu:hover li {
    float: none;
    font-size: 12px;
    border-bottom: 1px solid #d7d7d7;
}
ul.sub-menu li:hover a {
    background: #d84141;
    color: #fff;
    border: none;
}

li.top-menu:hover li a:hover {
    background: #f2f2f2;
    color: #929292;
    /*color: #000;*/
    border: none;
}

/* table flat design */
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}



/*----------------------*/

.zebra td, .zebra th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.zebra tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

.zebra th {
    text-align: left;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image:      -o-linear-gradient(top, #f5f5f5, #eee);
    background-image:         linear-gradient(top, #f5f5f5, #eee);
}

.zebra th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.zebra th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.zebra th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.zebra tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;
}

.zebra tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.zebra tfoot td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.zebra tfoot td:only-child{
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px
    border-radius: 0 0 6px 6px
}

/* table flat design*/
.hide {
    display:none !important;
}

/* From Web Elements */
.submitSmlBtn, input[type='submit'] {
    width: 85px;
    background: #ccc;
    border: 1px solid #e7e7e7;
    border-bottom: 4px solid #d65c5c;
    cursor: pointer;

    /*Text Styles*/
    font-family: 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
    color: #989898;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    padding: 5px;
    padding-top: 3px;


    /*Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, #ffffff, #e4e1e1);
    background: -moz-linear-gradient(top, #ffffff, #e4e1e1);
    background: -o-linear-gradient(top, #ffffff, #e4e1e1);
    background: -ms-linear-gradient(top, #ffffff, #e4e1e1);
    background: linear-gradient(top, #ffffff, #e4e1e1);

    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}
.submitSmlBtn:hover, input[type='submit']:hover {
    background: #989898;
    background: -webkit-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: -moz-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: -o-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: -ms-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: linear-gradient(top, #e4e1e1, #f4f2f2);
}
.button {
    display: block;
    width: 105px;
    background: #dbdada;
    border: 1px solid #e7e7e7;
    border-bottom: 4px solid #d65c5c;
    cursor: pointer;

    /*Text Styles*/
    font-family: 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
    color: #989898;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    padding: 5px;
    padding-top: 3px;


    /*Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, #fff, #eae9e9);
    background: -moz-linear-gradient(top, #fff, #eae9e9);
    background: -o-linear-gradient(top, #fff, #eae9e9);
    background: -ms-linear-gradient(top, #fff, #eae9e9);
    background: linear-gradient(top, #fff, #eae9e9);

    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.button:hover {
    background: #989898;
    background: -webkit-linear-gradient(top, #e6e4e4, #fff);
    background: -moz-linear-gradient(top, #e6e4e4, #fff);
    background: -o-linear-gradient(top, #e6e4e4, #fff);
    background: -ms-linear-gradient(top, #e6e4e4, #fff);
    background: linear-gradient(top, #e6e4e4, #fff);
}
.txfform-wrapper.input {
    width: 255px;
    height: 35px;
    padding: 10px 15px;
    font: normal 15px 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
    border: 0;
    background: #f2f2f2;
    border-radius: 5px;
    border-right: 4px solid #d65c5c;
    color: #999;
}
.txfform-wrapper.input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.txfform-wrapper.input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.txfform-wrapper.input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.txfform-wrapper.input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-bottom: 4px solid #d65c5c;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
.dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888 transparent;
    pointer-events: none;
}
.dropdown:before {
    border-bottom-style: solid;
    border-top: none;
}
.dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
}
.dropdown-select {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #62717a;
    text-shadow: 0 1px white;
    /* Fallback for IE 8 */
    background: #f2f2f2;
    /* "transparent" doesn't work with Opera */
    background: rgba(0, 0, 0, 0) !important;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
.dropdown-select:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    line-height: 14px;
    font-size: 12px;
    outline: 2px solid #ebebeb;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
}
.dropdown-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}
/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown {
    z-index: 1;
}
.lt-ie9 .dropdown-select {
    z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
    z-index: 3;
}
/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
    .dropdown-select {
      padding-left: 6px;
  }
}
.myCheckbox input {
    display: none;
}
.myCheckbox span {
    width: 22px;
    height: 22px;
    display: block;
    cursor: pointer;
    background: url("../img/bg-checkbox.png");
}
.myCheckbox input:checked + span {
    background: url("../img/checkImg.png");
}
.myRadiobox input {
    display: none;
}
.myRadiobox span {
    width: 22px;
    height: 22px;
    display: block;
    cursor: pointer;
    background: url("../img/RadioBtn.png");
}
.myRadiobox input:checked + span {
    background: url("../img/RadioBtnChecked.png");
}
#commentBox {
    display: block;
    width: 400px;
    height: 120px;
    padding: 8px;
    border: 1px solid #cccccc;
    line-height: 18px;
    font-size: 12px;
    font-family: 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
    font-weight: normal;
    color: #999;
}
.active {
    background: #d84141 !important;
    color: #fff !important;
}
.paginate_class, .current {
    padding: 0 7px;
}
.current {
    padding-left: 0;
}