@charset "utf-8";
/* CSS Document */

/* Resets */
ul {
    padding:0;
    margin:0 0 20px 0;
    list-style:none;
}
h1, h2 {
    padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
}
p {
    padding:0;
    margin:0 0 20px 0;
}
a:link, a:visited {
    text-decoration:underline;
    color:#000;
}
a:hover {
    text-decoration:none;
}
ul li {
    padding:5px 0;
}
ul li input[type="text"], ul li input[type="password"] {
    width:200px;
}
/* Headers */
h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.4em;
}
.logo {
    font:2em Arial;
    margin:0 0 10px 0;
    padding:0;
    /* width:100px;
     height:100px; */
    color:#fff;
}
/* Containers */
body {
    background:lightslategray;
    font-family:Arial;
    font-size:0.8em;
}
#container, footer {
    background:#fff;
    width:920px;
    margin:0 auto;
    padding:20px;
}
header {
    width:940px;
    padding:10px;
    margin:0 auto 10px auto;
}
#container {
    min-height:500px;
    border-radius:5px 5px 0 0;
}
footer {
    border-radius:0 0 5px 5px;
}
.widget {
    margin-bottom:20px;
}
.widget h2 {
    margin:0 0 10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;
}
.widget .inner {
    margin:0 10px;
}
/* Navigation */
nav {
    float:left;
}
nav ul {
    margin:0;
}
nav ul li {
    display:inline;
    margin-right:10px;
}
nav ul li a {
    text-decoration:none;
}
nav ul li.current {
    font-weight:bold;
}
nav ul li a.last {
    border-right:0;
}
/* Aside */
aside {
    width:260px;
    float:right;
    border-left:1px dashed #aaa;
    padding-left:15px;
}
/* Login */
#login li.link {
    margin-top:5px;
}
/* Footer */
footer {
    border-top:1px dashed #ddd;
    color:#999;
}
/* Misc */
.clear {
    clear:both;
}/* CSS Document */
.required {
    color: red;
}
.editbox, .save
{
display:none;
}
td
{
    padding: 5px;
    padding-right: 20px;
}
.editbox
{
font-size:14px;
background-color:#ffffcc;
border:solid 1px #000;
padding:4px;
}
.edit_tr:hover
{
background:url(../img/edit.png) right no-repeat #80C8E5;
cursor:pointer;
}
table {
    width:600px;
}

div.form-error {
    padding: 6px 12px;
    line-height: 180%;
    background: #ffe5ed;
    border-radius: 4px;
    margin-bottom: 22px;
    color: darkred;
    width: 60%;
}

input.valid {
    background: url(../img/icon-ok.png) no-repeat right center #e3ffe5;
    color: #002f00;
    border-color: #96b796 !important;
}
input.error {
    background: url(../img/icon-fail.png) no-repeat right center #ffebef;
    color: #480000;
}
ul#menu {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul#menu li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
ul#menu li:hover {
    background:#555;
    color:#fff;
}
ul#menu li:hover a {
    color:#fff;
}
ul#menu li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
ul#menu li ul li {
    background: #555;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    width: 151px;
}
ul#menu li ul li:hover { background: #666; }
ul#menu li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
ul#menu li > a {
    list-style-type: none;
    text-decoration: none;
}