/* CSS Document */

/* PAGE STYLE START**********************************/
body {
    background: #f2f2f2;
    width: 100%;
    font-family: 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
}

.content{
    margin:auto;
    padding: 15px;
    width:1024px;
    float: center;
    background-color:#fff;
}

h1,h2,h3,h4,h5 {
    color: #767676;
    font-family: 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
}

h1 {
    font-size: 30px;
    text-decoration: none;
    margin:5px 5px 25px 5px;
    padding:0px;
}
/* PAGE STYLE END**********************************/

/* ******************************************************WEB ELEMENTS START***********************************************************/

/* REGULAR BUTTON START**********************************/
.button {
    display: block;
    width: 105px;
    height: 20px;
    background: #dbdada;
    border: 1px solid #e7e7e7;
    border-bottom: 4px solid #d65c5c;

    /*Text Styles*/
    font-family: 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
    color: #989898;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    padding: 5px;
    padding-top: 3px;


    /*Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, #fff, #eae9e9);
    background: -moz-linear-gradient(top, #fff, #eae9e9);
    background: -o-linear-gradient(top, #fff, #eae9e9);
    background: -ms-linear-gradient(top, #fff, #eae9e9);
    background: linear-gradient(top, #fff, #eae9e9);

    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*Link Styles*/
a.button2 {
    text-decoration: none;
}

/*Hover Styles*/
a.button:hover {
    background: #989898;
    background: -webkit-linear-gradient(top, #e6e4e4, #fff);
    background: -moz-linear-gradient(top, #e6e4e4, #fff);
    background: -o-linear-gradient(top, #e6e4e4, #fff);
    background: -ms-linear-gradient(top, #e6e4e4, #fff);
    background: linear-gradient(top, #e6e4e4, #fff);
}
/* REGULAR BUTTON END**********************************/


/* *******************************************BREAK******************************************/


/* SEARCH BAR START**********************************/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

/* Form wrapper styling */
.form-wrapper {
    width: 368px;
    padding: 0px;
    margin: 0px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 5px;
}

/* Form text input */
.form-wrapper input {
    width: 258px;
    height: 40px;
    padding: 10px 15px;
    float: left;
    font: normal 15px 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;

    border: 0;
    background: #f2f2f2;
    border-radius: 3px 0 0 3px;
    color: #999;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: normal 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #c42f2f;
    outline: 0;
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
    border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}
/* SEARCH BAR END**********************************/


/* *******************************************BREAK******************************************/


/* TEXT FIELD STARTS **********************************/
.txfcf:before, .txfcf:after{
    content:"";
    display:table;
}

.txfcf:after{
    clear:both;
}

.txfcf{
    zoom:1;
}

/* Form wrapper styling */
.txfform-wrapper {
    width: 255px;
    padding: 0px;
    margin: 0px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 5px;
}

/* Form text input */

.txfform-wrapper input {
    width: 255px;
    height: 35px;
    padding: 10px 15px;
    float: left;
    font: normal 15px 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
    border: 0;
    background: #f2f2f2;
    border-radius: 5px;
    border-right: 4px solid #d65c5c;
    color: #999;
}

.txfform-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.txfform-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.txfform-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.txfform-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
/* TEXT FIELD ENDS **********************************/


/* *******************************************BREAK******************************************/


/* TEXT AREA STARTS **********************************/
#commentBox {
    display: block;
    width: 400px;
    height: 120px;
    padding: 8px;
    border: 1px solid #cccccc;
    line-height: 18px;
    font-size: 12px;
    font-family: 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
    font-weight: normal;
    color: #999;
}
/* TEXT AREA ENDS **********************************/


/* *******************************************BREAK******************************************/


/* NAVIGATION ENDS **********************************/
ul#menu {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#menu li {
    display: block;
    position: relative;
    width: 150px;
    float: left;
    border-bottom: 4px solid #d65c5c;
}
li ul {
    display: none;
    padding-top: 4px;
}
ul#menu li a {
    display: block;
    text-decoration: none;
    color: #929292;
    border-top: 1px solid #ffffff;
    padding: 7px 15px 7px 15px;
    background: #f2f2f2;
    margin-right: 1px;
    white-space: nowrap;
    border:none;
    text-align: center;
}
ul#menu li a:hover {
    background: #d84141;
    color: #fff;
    border: none;
}
li:hover ul {
    display: block;
    position: absolute;
    border: none;
}
li:hover li {
    float: none;
    font-size: 12px;
    border-bottom: 1px solid #d7d7d7;
}
li:hover a {
    background: #d84141;
    color: #fff;
    border: none;
}

li:hover li a:hover {
    background: #f2f2f2;
    color: #929292;
    border: none;
}
/* NAVIGATION ENDS **********************************/


/* *******************************************BREAK******************************************/


/*.checkbox {
  border:2px dotted #00f;
  display:block;
  background:#ff0000;
} */

/* CHECKBOX STARTS **********************************/
.myCheckbox input {
    display: none;
}

.myCheckbox span {
    width: 22px;
    height: 22px;
    display: block;
    cursor: pointer;
    background: url("../img/bg-checkbox.png");
}

.myCheckbox input:checked + span {
    background: url("../img/checkImg.png");
}
/* CHECKBOX ENDS **********************************/


/* *******************************************BREAK******************************************/


/* RADIO CHECKBOX STARTS **********************************/
.myRadiobox input {
    display: none;
}

.myRadiobox span {
    width: 22px;
    height: 22px;
    display: block;
    cursor: pointer;
    background: url("../img/RadioBtn.png");
}

.myRadiobox input:checked + span {
    background: url("../img/RadioBtnChecked.png");
}
/* RADIO CHECKBOX ENDS **********************************/


/* *******************************************BREAK******************************************/


/* REGULAR BUTTON START**********************************/
.buttonSubmit {
    display: block;
    width: 105px;
    height: 33px;
    background: #ccc;
    border: 1px solid #e7e7e7;
    border-bottom: 4px solid #d65c5c;
    cursor: pointer;

    /*Text Styles*/
    font-family: 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
    color: #989898;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    padding: 5px;
    padding-top: 3px;


    /*Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, #f4f2f2, #e4e1e1);
    background: -moz-linear-gradient(top, #f4f2f2, #e4e1e1);
    background: -o-linear-gradient(top, #f4f2f2, #e4e1e1);
    background: -ms-linear-gradient(top, #f4f2f2, #e4e1e1);
    background: linear-gradient(top, #f4f2f2, #e4e1e1);

    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);

}

/*Link Styles*/
a.buttonSubmit2 {
    text-decoration: none;
}

/*Hover Styles*/
a.buttonSubmit:hover {
    background: #989898;
    background: -webkit-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: -moz-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: -o-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: -ms-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: linear-gradient(top, #e4e1e1, #f4f2f2);
}
/* REGULAR BUTTON END**********************************/


/* *******************************************BREAK******************************************/


/* SUBMIT BUTTON SMALL START**********************************/
.submitSmlBtn {
    display: block;
    width: 85px;
    height: 15px;
    background: #ccc;
    border: 1px solid #e7e7e7;
    border-bottom: 4px solid #d65c5c;
    cursor: pointer;

    /*Text Styles*/
    font-family: 'lucida sans', 'trebuchet MS', 'Tahoma', Ariel, Geneva, sans-serif;
    color: #989898;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    padding: 5px;
    padding-top: 3px;


    /*Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, #ffffff, #e4e1e1);
    background: -moz-linear-gradient(top, #ffffff, #e4e1e1);
    background: -o-linear-gradient(top, #ffffff, #e4e1e1);
    background: -ms-linear-gradient(top, #ffffff, #e4e1e1);
    background: linear-gradient(top, #ffffff, #e4e1e1);

    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

/*Link Styles*/
a.submitSmlBtn2 {
    text-decoration: none;
}

/*Hover Styles*/
a.submitSmlBtn:hover {
    background: #989898;
    background: -webkit-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: -moz-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: -o-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: -ms-linear-gradient(top, #e4e1e1, #f4f2f2);
    background: linear-gradient(top, #e4e1e1, #f4f2f2);
}
/* SUBMIT BUTTON SMALL END**********************************/



/* DROPDOWN BUTTON STARTS **********************************/

.dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-bottom: 4px solid #d65c5c;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
.dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888 transparent;
    pointer-events: none;
}
.dropdown:before {
    border-bottom-style: solid;
    border-top: none;
}
.dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
}

.dropdown-select {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #62717a;
    text-shadow: 0 1px white;
    /* Fallback for IE 8 */
    background: #f2f2f2;
    /* "transparent" doesn't work with Opera */
    background: rgba(0, 0, 0, 0) !important;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
.dropdown-select:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    line-height: 14px;
    font-size: 12px;
    outline: 2px solid #ebebeb;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
}
.dropdown-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown {
    z-index: 1;
}
.lt-ie9 .dropdown-select {
    z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
    z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
    .dropdown-select {
        padding-left: 6px;
    }
}
/* DROPDOWN BUTTON ENDS **********************************/


/* GENERAL TABLE STARTS **********************************/
/*.GenTable {
   margin:0px;padding:0px;
   width:900px;
   border:1px solid #d8d8d8;

   -moz-border-radius-bottomleft:3px;
   -webkit-border-bottom-left-radius:3px;
   border-bottom-left-radius:3px;

   -moz-border-radius-bottomright:3px;
   -webkit-border-bottom-right-radius:3px;
   border-bottom-right-radius:3px;

   -moz-border-radius-topright:3px;
   -webkit-border-top-right-radius:3px;
   border-top-right-radius:3px;

   -moz-border-radius-topleft:3px;
   -webkit-border-top-left-radius:3px;
   border-top-left-radius:3px;

}.GenTable table{
   border-collapse: collapse;
   border-spacing: 0;
    width:620px;
     height:150px;
     margin:0px;padding:0px;

}.GenTable tr:last-child td:last-child {
   -moz-border-radius-bottomright:3px;
   -webkit-border-bottom-right-radius:3px;
   border-bottom-right-radius:3px;
}
.GenTable table tr:first-child td:first-child {
   -moz-border-radius-topleft:3px;
   -webkit-border-top-left-radius:3px;
   border-top-left-radius:3px;
}
.GenTable table tr:first-child td:last-child {
   -moz-border-radius-topright:3px;
   -webkit-border-top-right-radius:3px;
   border-top-right-radius:3px;
}.GenTable tr:last-child td:first-child{
   -moz-border-radius-bottomleft:3px;
   -webkit-border-bottom-left-radius:3px;
   border-bottom-left-radius:3px;
}.GenTable tr:hover td{
   background-color:#ffffff;

}
.GenTable td{
   vertical-align:middle;

   background-color:#ffffff;

   border:1px solid #d8d8d8;
   border-width:0px 1px 1px 0px;
   text-align:center;
   padding:7px;
   font-size:10px;
   font-family:Arial;
   font-weight:normal;
   color:#333333;

}.GenTable tr:last-child td{
   border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
   border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
   border-width:0px 0px 0px 0px;
}
.GenTable tr:first-child td{
       background:-o-linear-gradient(bottom, #ffffff 5%, #d1d1d1 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
   background:-moz-linear-gradient( center top, #ffffff 5%, #d1d1d1 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#d1d1d1");	background: -o-linear-gradient(top,#ffffff,d1d1d1);

   background-color:#ffffff;
   border:0px solid #d8d8d8;
   text-align:center;
   border-width:0px 0px 1px 1px;
   font-size:14px;
   font-family:Helvetica;
   font-weight:bold;
   color:#333333;
}
.GenTable tr:first-child:hover td{
   background:-o-linear-gradient(bottom, #ffffff 5%, #d1d1d1 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
   background:-moz-linear-gradient( center top, #ffffff 5%, #d1d1d1 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#d1d1d1");	background: -o-linear-gradient(top,#ffffff,d1d1d1);
   background-color:#ffffff;
}
.GenTable tr:first-child td:first-child{
   border-width:0px 0px 1px 0px;
}
.GenTable tr:first-child td:last-child{
   border-width:0px 0px 1px 1px;*/
    }
/* GENERAL TABLE ENDS **********************************/

table {
    table-layout: fixed;
}
td {
    width: 30px;
    height: 50px;
    padding: 20px;
    border: 1px solid #666;
}
.h-double td {
    height: 100px;
}

/* some colors for debugging */
.yellow {
    background: yellow;
}
.lightblue {
    background: lightblue;
}
.lightgreen {
    background: lightgreen;
}
.lightyellow {
    background: lightyellow;
}
.salmon {
    background: salmon;
}
.pink {
    background: pink;
}
.tomato {
    background: tomato;
}
.gold {
    background: gold;
}